{% extends 'base.html' %}
{% block content %}
<h2>Listado de Cursos</h2>
<a href="{% url 'crear_curso' %}">Nuevo Curso</a>
<table>
    <tr><th>Nombre</th><th>Profesor</th><th>Imagen</th><th>Acciones</th></tr>
    {% for c in cursos %}
    <tr>
        <td>{{ c.nombre }}</td>
        <td>{{ c.profesor }}</td>
        <td><img src="{{ c.imagen.url }}" width="80"></td>
        <td>
            <a href="{% url 'editar_curso' c.id %}">Editar</a> |
            <a href="{% url 'eliminar_curso' c.id %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
